.single-book-preview {
  width: 15%;
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;

  img {
    width: 100%;
    height: 275px;
  }
  .book-details {
    margin: 0 auto;
    width: 100%;
    padding: 0px 10px;
    text-align: left;
    background-color: rgb(249, 249, 249);

    .book-title {
      color: rgb(218, 193, 0);
      padding-bottom: 5px;
      border-bottom: 0.5px solid #cdcdcd;
    }

    .book-button-section {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
    }
  }
  .add-icon {
    background: rgb(147, 147, 147);
    position: relative;

    width: 40px;
    border-radius: 50%;
    color: rgb(255, 237, 98);
    font-size: 30pt;
  }
}
