body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Georgia" "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #252525;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ccc;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.shelf {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
  align-items: center;
  justify-content: center;
}
